@tailwind base;
@tailwind components;
@tailwind utilities;

input, textarea{
    background: rgb(99 101 241 / 14%);
    padding: 10px;
}

select{
    height:40px;
}

.draw{
    width: 150px;
    height: 150px;
    margin: auto;
    display: flex;
    margin-bottom: 10px;
}
